<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">ECOM</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link clickable" (click)="onSelectProduct()" >Home</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Produit
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="onSelectDisponible()" >Produit Disponible</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="onSelectPromotion()" >Produit Promotion</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="onSelectRecherche()" >Rechercher Prosuit </a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link clickable"  routerLink="/addProduct" >Add Product</a>
      </li>
     
      <li class="nav-item mr-3">
        <a class="nav-link clickable" routerLink="/caddies" >Caddies <img src="assets/images/shop.png"  width="20px" alt=""> </a>
      </li>
      


      
    </ul>


    <ul class="navbar-nav form-inline mr-sm-2 " style="      margin-left: 700px; ">
      <li class="nav-item">
        <a class="nav-link clickable" routerLink="/caddies" >
          
          <h3> <span class="badge badge-warning">{{caddyService.getCurrentCaddy()?.length}} <img src="assets/images/shop.png"  width="30px" alt="">  </span>  </h3> 

           </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" ><i class="fa fa-sign-in"></i></a>
      </li>
      <li (click)="deconn()" class="nav-item clickable  nav-link">
        <i class="fa fa-sign-out"></i>
         </li>
   
    </ul>


  </div>
</nav>

<div class="container">
  <div class="row">
  <div class="col-md-3">
    <ul class="list-group" *ngIf="categories">
      <li (click)="getProductByCat(ct.id)" [ngClass]="currentCategorie===ct.id?'active' : ''" *ngFor="let ct of categories" class=" clickable list-group-item">
       {{ct.name}}
      </li>
    </ul>
  </div>
<div class="col-md-9">
 
  <router-outlet></router-outlet>
</div>
</div>
</div>